body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("galaxy.jpg");
  background-size: cover;  /* Resize the background image to cover the entire container */
  background-repeat: no-repeat;  /* Do not repeat the background image */
}

#login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#game-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

#login-box {
  width: 300px;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto 50px;
  border-radius: 5%;
}

#game-board {
  position: relative;
  height: 800px;
  width: 800px;
  margin-top: 50px;
  background-color: black;
  background-image: url("gameboarding.png");
  border-radius: 10%;
  display: none;
  border: 3px solid black;
/*Initially hide the game-board*/
}

#pacman {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #8d8d1c;
  border-radius: 50%; /* make pacman circular */
  background-image: url("java.png");
}
.pacman-open {
  background-color: #8d8d1c;
  border-radius: 50%;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  border: 1px solid black;
}

.pacman-closed {
  background-color: #8d8d1c;
  border-radius: 50%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  border: 1px solid black;
}

.pacman-right {
  transform: rotate(0deg);
}

.pacman-left {
  transform: rotate(180deg);
}

.pacman-up {
  transform: rotate(270deg);
}

.pacman-down {
  transform: rotate(90deg);
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("bug.png");
  background-size: cover;
  border-radius: 50%; /* make dots circular */
}
